{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>



<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#">Hidden brand</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      {% if app.user %}
      <a href="{{ path('app_logout') }}">
        <button class="btn btn-warning" type="submit">Deconnexion</button>
     </a>
      {% else %}
      <a href="{{ path('app_login') }}">
        <button class="btn btn-success" type="submit" style="margin-left: 10px;">Connexion</button>
      </a>
      {% endif %}
    </div>
  </div>
</nav>
<div class="example-wrapper">

    <h1>Bonjour {% if app.user %} {{ app.user.prenom }} {{ app.user.nom }} {% endif %}! ✅</h1>

    <table class="table">
  <thead>
    <tr>
      <th scope="col">Photo</th>
      <th scope="col">Prénom</th>
      <th scope="col">Nom</th>
      <th scope="col">Email</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  {% for user in users %}
    <tr>
      <th scope="row">
        <img src="{{ user.photo }}" alt=""  style="width: 40px; height: 40px; border-radius: 50%; border: solid 1px #333;">
      </th>
      <td>{{ user.prenom }}</td>
      <td>{{ user.nom }}</td>
      <td>{{ user.email }}</td>
      <td><button class="btn btn-danger">Suppr.</button> <button class="btn btn-warning">Modifier</button></td>
    </tr>
   {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
